<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a curious human interested in better understanding our bizarre and contradictory world. I love exploring data and drawing unexpected insights.</p>
      </div>
      <div class="col-lg-4">
        <p>You can contact me using the form below. I look forward to working with you to solve the mysteries of the universe, or your other business and data problems!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <img class="img-responsive" id="viz" src="/img/about/datalove_white.png" alt="White line graph on sea-green background showing exponential growth of Joe's love for data" />
        <!-- <a href="https://www.kaggle.com/joenormyl" class="btn btn-lg btn-outline"> Find me on Kaggle -->
        </a>
      </div>
    </div>
  </div>
</section>
